div{
    padding-top:8px;
    padding-bottom:8px;
}
a{
    color:#000000;
}
#header{
    position:fixed;
    z-index:300;
    margin-top: 0px;
    top:0px;

    margin:0px auto;
    background-color: #ffffff;
    width:100%;

}
#headerpanel{
    background-color: #ffffff;
    margin:0px auto;
    width:100%;

}
#main{
    margin-top: 100px;
    width:100%;

}